<h1>Your listing</h1>


<%= @listing.name %><br>
<%= @listing.desc %><br>
Tag: <%=raw @listing.tag_list.map {|t| link_to t, tag_path(t)}.join(', ')%><br><br>

		<% if current_user.id == @listing.user_id %>
<%= link_to 'Edit Listing' , edit_listing_path(@listing) %>

<%= link_to 'Delete Listing' , @listing, method: :delete, data: {confirm:"Are you sure?"} %>
<%end%>
