<h1>My Account</h1>
<!-- <p>Edit your profile on this page</p> -->

<p>Name</p>
<%= @user.first_name %>
<%= @user.last_name %>

<p> Email </p>
<%= @user.email %>

<p> Contact Number </p>
<%= @user.contact_number %>

<p> Nationality </p>
<%= @user.country %>

<p> Password </p>
<%= @user.password %>

<p> Description </p>
<%= @user.description %>

<%= link_to "Edit Profile", edit_user_path(@user)%>
