<h3>My Account</h3>
<!-- <p>Edit your profile on this page</p> -->

<h3>Full Name :</h3>
<%= @user.first_name %><%= @user.last_name %>

<h3> Email </h3><%= @user.email %>

<h3> Contact Number </h3><%= @user.contact_number %>

<h3> Nationality </h3><%= @user.country %>

<h3> Password </h3><%= @user.password %>

<h3> Description </h3><%= @user.description %>
<br><br>
<%= link_to "Edit Profile", edit_user_path(@user)%>
